body {
    padding: 2rem;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 7px;
}

table tr:nth-child(odd) td {
    background: #ccc;
}

table tr:nth-child(even) td {
    background: #fff;
}

.subjects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-text-input {
    width: 100%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid slategray;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.section-header {
    margin: 0;
}

.form-submit-button {
    background-color: skyblue;
    border-radius: 5px;
    border: 1px solid slategray;
    padding: 1rem 2rem;
    cursor: pointer;
}

.loading {
    display: none;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

ul {
    list-style: none;
    padding: 0;
}